.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li{ list-style: none;}
.darkmode #hd{ background-color: #606060 !important;}
.darkmode #hd a{ color:white !important}
.lightmode #hd{ background-color: white !important;}
.lightmode #hd a{ color: #606060 !important; }
#colorBase button{ font-size: 0; line-height: 0; width:15px; height:15px;
border-radius: 50%;}
#colorBase .darkVer{
  background-color:  #606060 !important;
  border:1px solid white;
}
#colorBase .lightVer{
  background-color: white !important;
  border:1px solid #606060;
}